
/* Base styles */

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

.header {
  background-color: white; 
}

#navbarNav {
  width: 30px;
  background-position: 100% .4em;
  padding-right: .6em; 
  justify-content: flex-end;
 }

 ul li {
   text-transform: uppercase;
   padding: 10px;
 }

a {
  display: inline;
  padding: 10px 15px;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: grey;
}

.mb-4 {
  text-align: center;
}

.mb-4:hover {
  opacity: 0.5; 
}

.container-pt-4 {
  background-color: lightgrey;
}

/* Styling a footer */

  footer {
    background-color: #222629;
  }

.footer_links {
  list-style-type: none;
  margin-top: 0;  
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  margin-bottom: 0;
  line-height: .3em;
}

.footer-container {
  justify-content: center;
}

.footer-column {
  padding: 10px;
}

.copyright {
  padding: 10px;
  color: white;
  text-align: center;
}

.follow_us {
  text-align: center;
  padding-top: 10px;
}

 .fab {
  color: white;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3em; 
  text-align: center;
}

.fab:hover {
  opacity: .5;
  font-size: 5em;
  transition: 1s ease-out;  
}

 /* Media Queries */
 
@media screen and (max-width: 800px) {
  a {
    width: 100%;
  }
}


 /* Styling Contac Us Form */ 

 form {
   /* To center the form on the page */
   margin: 0 auto;
   width: 500px;
   /* To see the outline of the form */
   padding: 1em;
   border: 2px solid #CCC;
   border-radius: .5em;
 }

  input, textarea {
   /* To make all text fields have the same font settings */
   font: 1em sans-serif;

   /* To give the same size to all textfields */
   width: 100%;
   box-sizing: border-box;

   /* To harmonize the look & feel of text field border */
   border: 1px solid lightgray;
 }

 input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}  

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

 label {
   /* To make sure that all labels have the same size and are properly aligned */
   font-weight: bold;
   display: inline-block; 
   text-align: right;
   padding: 10px;
 }

 .button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: .800em;
  font-weight: 400;
  text-transform: uppercase;
}

/* button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 8em;
} */

 .number {
   font-weight: bold;
   color: grey;
 }

 #container {
   margin: auto;
   max-width: 500px;
   border-radius: 5px;   
  }

   /* Styling About Us page */

   .about {
     text-indent: 50px;
   }

   .about-picture {
     float: left;
     padding: 10px;
     /* border-radius: 10px; */
   }

   .about-column {
    float: left;
    width: 70%;
    padding: 10px;   
}

.address-column {
  float: right;
  width: 30%;
  padding: 10px; 
}

.history, .our-chief, .team {
  text-indent: 50px;
}

.chief-column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.team-column {
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .chief-column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
 
}

.button:hover {
  background-color: #555;
}















/* Clear floats after the columns */
.about-row:after {
    content: "";
    display: table;
    clear: both;
}

   /* Styling Carousel Page */
 


   /* Flexbox */



   .row {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 10px;
   }

   .column {
      flex-basis: auto;
      flex-grow: 1;
      max-width: 40%;
      padding: 10px;
      margin: 5px;
      border: 1px solid lightgray;
      border-radius: .3em;
   }

    @media screen and (max-width: 540px) {
    .row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .column {
      max-width: 100%;
      width: 100%;
    }

    .footer-column {
      display: block;
      flex-direction: column;
      width: 100%;
    }
}